[Unit]
Description=Tailscale-UDM WAN failover monitor
After=network.target

[Service]
ExecStart=/bin/bash /data/tailscale/failover_monitor.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target