[Unit]
Description=Ensure that Tailscale is routing out the correct WAN interface
After=network.target

[Service]
ExecStart=/bin/bash /data/tailscale/failover_monitor.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target